.main-text{
  text-align: center;
  z-index: 1000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  &__title{
    font-size: 4.2rem;
  }
  &__subtitle{
    font-size: 1.3rem;
  }
}